.logo-img {
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
 }

.menu-wrapper:before {
    background: #111 !important;
}

.admin__menu .level-0._active > a {
    background: #00688B !important;
}

.action-primary {
    border:0 !important;
    background: #00688B !important;
}

.copyright .link-copyright:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.tabs-horiz .ui-state-active .ui-tabs-anchor {
    border-top: 0.4rem solid #00688B !important;
}

.page-footer a {
    color: #00688B !important;
}

.price {
    color: green !important;
}